<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Academy.E2EProject.Listeners"></listener>
</listeners>
  <test name="HomePage">
    <classes>
      <class name="Academy.E2EProject.HomePage"/>
    </classes>
  </test> <!-- Test -->
  <test name="validateHome">
    <classes>
      <class name="Academy.E2EProject.validateHome"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
